// Custom global SCSS outside of Bootstrap variable overrides goes here
h1 {
   font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   margin-top: -4px !important; // Lines heading text up with the top
}

blockquote {
   color: $gray-500;
   font-style: italic;
}

blockquote a {
   color: $blue-400;
}

blockquote a:hover {
   color: $blue-500;
}

.vr {
   border-left: 1px solid $input-border-color;
   margin-left: -1px;
}

.sponsor_logo_size {
   @include media-breakpoint-down(md) {
      height: 32px;
   }
   @include media-breakpoint-up(lg) {
      height: 40px;
   }
}

.past_event_description {
   @include media-breakpoint-up(lg) {
      text-align: justify;
   }
   margin-bottom: 0;
}

.headline {
   margin-bottom: map-get($map: $spacers, $key: 4);
   @include media-breakpoint-down(md) {
      font-size: 48px;
      margin-bottom: map-get($map: $spacers, $key: 3);
   }
}
