// Custom global SCSS outside of Bootstrap variable overrides goes here
h1 {
   font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   margin-top: -4px !important; // Lines heading text up with the top
}

blockquote {
   color: $gray-500;
   font-style: italic;
}

blockquote a {
   color: $blue-400;
}

blockquote a:hover {
   color: $blue-500;
}
