// Custom global SCSS outside of Bootstrap variable overrides goes here

$font-negative-margin: -4px;

h1,
h2,
.h1,
.h2 {
   font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   margin-top: $font-negative-margin; // Lines heading text up with the top
}

blockquote {
   color: $gray-500;
   font-style: italic;
}

blockquote a {
   color: $blue-400;
}

blockquote a:hover {
   color: $blue-500;
}

.vr {
   border-left: 1px solid $input-border-color;
   margin-left: -1px;
}

.sponsor_logo_size {
   @include media-breakpoint-down(md) {
      height: 32px;
   }
   @include media-breakpoint-up(lg) {
      height: 40px;
   }
}

.past_event_details {
   @include media-breakpoint-up(lg) {
      text-align: justify;
   }
   @include media-breakpoint-down(sm) {
      margin-top: $font-negative-margin;
   }
   @include media-breakpoint-down(xs) {
      margin-top: map-get($map: $spacers, $key: 3);
   }
   margin-bottom: 0;
}

.next_event_details p {
   @include media-breakpoint-down(sm) {
      margin-top: $font-negative-margin;
   }
}

// As the screen grows smaller, the headings will step down in size to another heading's size

h1,
.h1 {
   font-weight: $font-weight-light;
   @include media-breakpoint-down(md) {
      font-size: $h2-font-size;
      font-weight: $font-weight-light;
      // margin-bottom: map-get($map: $spacers, $key: 3);
   }
   @include media-breakpoint-down(xs) {
      font-size: $h3-font-size;
      font-weight: $font-weight-normal;
      // margin-bottom: map-get($map: $spacers, $key: 3);
   }
}

h2,
.h2 {
   @include media-breakpoint-down(xs) {
      font-size: $h3-font-size;
   }
}

h3,
.h3 {
   @include media-breakpoint-down(xs) {
      font-size: 21px; // at $h3-font-size (22px) the heading is too bold
   }
}

h4,
.h4 {
   @include media-breakpoint-down(xs) {
      font-size: $h5-font-size;
   }
}

.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
   cursor: pointer;
}

.text-strikethrough {
   text-decoration: line-through;
}

.header {
   background-color: $gray-900;
   color: $white;
   padding: map-get($map: $spacers, $key: 2);
}

.header a {
   color: white;
   text-decoration: none;
}

.header a:hover {
   text-decoration: underline;
}
